:root {
	/* Colors */
	--c-fg: #ebdbb2;
	--c-bg: #32302f;
	--c-hl: #458588;
	--c-dk: #282828;

	/* Fonts */
	--f: "Terminus", "Roboto Mono", monospace;
	--f-s: normal;
	--f-w-reg: 400;
	--f-w-bol: 700;

	--f-sm: var(--f-s) var(--f-w-reg) 12pt/130% var(--f);
	--f-md: var(--f-s) var(--f-w-bol) 18pt/130% var(--f);
	--f-lg: var(--f-s) var(--f-w-bol) 36pt/130% var(--f);

	/* Numbers */
	--n-base: 6px;
	--padding: calc(var(--n-base) * 3);

	/* Borders */
	--border: calc(var(--n-base) / 3) solid var(--c-hl);
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-color: var(--c-dk);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-gap: var(--padding);
	grid-template-rows: calc(var(--n-base) * 10) 1fr;
	justify-items: center;
}

.menu,
.page  {
	width: 90vw;
	height: auto;
	padding: var(--padding);
	overflow: scroll;

	background-color: var(--c-bg);
	border: var(--border);
}

.menu {
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: var(--padding);
	justify-items: center;
	align-items: center;
}
.menu a:last-of-type {
	grid-column: 5 / 6;
}

.page {
	grid-row: 2 / 3;
}

.sections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--padding);
	justify-items: center;
}
.section {
	margin-bottom: var(--padding);
}

ul {
	padding-left: calc(var(--n-base) * 3);
	list-style: symbols(cyclic "– ") outside;
	color: var(--c-fg);

	margin-top:    0;
	margin-bottom: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: var(--padding);
}
th {
	background: var(--c-hl);
}
th,
td {
	border: 1px solid var(--c-fg);
	padding: calc(var(--n-base) / 2);
}
td:nth-child(2n+1) {
	width: 25%;
}

h1 {
	font: var(--f-lg);
	color: var(--c-fg);
}

h2 {
	font: var(--f-md);
	color: var(--c-hl);
	text-decoration: underline;

	margin-top:    0;
	margin-bottom: 0;
}

/* inline code and code blocks */
p code,
td code {
	font: var(--f-sm);
	color: var(--c-hl);
}
pre {
	background-color: var(--c-fg);
	padding: calc(var(--padding) / 2);
	overflow: scroll;
}
pre code {
	font: var(--f-sm);
}

tr th,
tr td,
a,
p {
	font: var(--f-sm);
	color: var(--c-fg);
	text-decoration: none;
}
a:hover {
	color: var(--c-hl);
	text-decoration: underline;
	cursor: pointer;
}

/* selection */
tr th::selection,
tr td::selection,
h1::selection {
	color: var(--c-hl);
	background-color: var(--c-fg);
}

pre code::selection,
code::selection,
h2::selection {
	color: var(--c-fg);
	background: var(--c-hl);
}

a::selection,
p::selection {
	color: var(--c-bg);
	background: var(--c-fg);
}
